.container{
    background: #e7e9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.imgName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #36beb8;
    align-items: center;
    border-radius: 10px;
    margin: 3% 2%;
}
.imgleft{
    width: 15%;
}
.imgleft img{
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;
}
.name{
    width: 60%;
    font-size: 25px;
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    text-align: center;
}
.direction{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 4% 2%;
    padding: 5%;
}
.direction div {
    border-bottom: 1px solid #e7e9e9;
}
.direction p {
    font-family: sans-serif;
    font-weight: 500;
}