.target{
    text-align: center;
    background-color: white;
    margin: 0.5% 0%;
    border-radius: 10px;
}
.nameUser{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    
}
.emailUser{
    color: #9b9b93;
}
/* .hiddenWiki{
    display: none;
} */