@media(min-width:700px){
  .content{
    width: 30%;
    margin: 0 auto;
  }
}
.container{
  display: flex;
  padding: 0% 4%;
  justify-content: space-around;
  flex-direction: column;
  background-color: #e7e9e9;
  
}
.hiddenWiki{
  display: none;
}